war/QBSyncServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://developer.intuit.com/" name="QBSyncServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://developer.intuit.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://developer.intuit.com/" schemaLocation="QBSyncServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="sendRequestXML">
    <part name="parameters" element="tns:sendRequestXML"/>
  </message>
  <message name="sendRequestXMLResponse">
    <part name="parameters" element="tns:sendRequestXMLResponse"/>
  </message>
  <message name="receiveResponseXML">
    <part name="parameters" element="tns:receiveResponseXML"/>
  </message>
  <message name="receiveResponseXMLResponse">
    <part name="parameters" element="tns:receiveResponseXMLResponse"/>
  </message>
  <message name="connectionError">
    <part name="parameters" element="tns:connectionError"/>
  </message>
  <message name="connectionErrorResponse">
    <part name="parameters" element="tns:connectionErrorResponse"/>
  </message>
  <message name="getLastError">
    <part name="parameters" element="tns:getLastError"/>
  </message>
  <message name="getLastErrorResponse">
    <part name="parameters" element="tns:getLastErrorResponse"/>
  </message>
  <message name="closeConnection">
    <part name="parameters" element="tns:closeConnection"/>
  </message>
  <message name="closeConnectionResponse">
    <part name="parameters" element="tns:closeConnectionResponse"/>
  </message>
  <message name="clientVersion">
    <part name="parameters" element="tns:clientVersion"/>
  </message>
  <message name="clientVersionResponse">
    <part name="parameters" element="tns:clientVersionResponse"/>
  </message>
  <message name="serverVersion">
    <part name="parameters" element="tns:serverVersion"/>
  </message>
  <message name="serverVersionResponse">
    <part name="parameters" element="tns:serverVersionResponse"/>
  </message>
  <message name="authenticate">
    <part name="parameters" element="tns:authenticate"/>
  </message>
  <message name="authenticateResponse">
    <part name="parameters" element="tns:authenticateResponse"/>
  </message>
  <portType name="QBSyncService">
    <operation name="sendRequestXML">
      <input message="tns:sendRequestXML"/>
      <output message="tns:sendRequestXMLResponse"/>
    </operation>
    <operation name="receiveResponseXML">
      <input message="tns:receiveResponseXML"/>
      <output message="tns:receiveResponseXMLResponse"/>
    </operation>
    <operation name="connectionError">
      <input message="tns:connectionError"/>
      <output message="tns:connectionErrorResponse"/>
    </operation>
    <operation name="getLastError">
      <input message="tns:getLastError"/>
      <output message="tns:getLastErrorResponse"/>
    </operation>
    <operation name="closeConnection">
      <input message="tns:closeConnection"/>
      <output message="tns:closeConnectionResponse"/>
    </operation>
    <operation name="clientVersion">
      <input message="tns:clientVersion"/>
      <output message="tns:clientVersionResponse"/>
    </operation>
    <operation name="serverVersion">
      <input message="tns:serverVersion"/>
      <output message="tns:serverVersionResponse"/>
    </operation>
    <operation name="authenticate">
      <input message="tns:authenticate"/>
      <output message="tns:authenticateResponse"/>
    </operation>
  </portType>
  <binding name="QBSyncServicePortBinding" type="tns:QBSyncService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="sendRequestXML">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="receiveResponseXML">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="connectionError">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLastError">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="closeConnection">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="clientVersion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="serverVersion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="authenticate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="QBSyncServiceService">
    <port name="QBSyncServicePort" binding="tns:QBSyncServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

